<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REAL-TIME-TRACKING-APP</title>

    <!-- Leaflet CSS -->
    <link 
        rel="stylesheet" 
        href="https://unpkg.com/leaflet/dist/leaflet.css"
    />

    <!-- Leaflet Search CSS -->
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-search/4.0.0/leaflet-search.mobile.min.css"
        integrity="sha512-HmyFH9bm1tOmI9kNxQ/c/SE/Yoej/JVi7XaQReAeisSjHPgfIGCR9bFguHjCb73TcgCKZy6YT3whpFnN6F2yow==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer"
    />

    <!-- Your CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<h1>hwellooodmndsbbjfv</h1>
    <div id="map"></div>

    <!-- Leaflet JS FIRST -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- THEN Leaflet Search -->
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-search/4.0.0/leaflet-search.src.min.js"
        integrity="sha512-bvj1IpGlCrv1roL3jhLtM9egFQ+2mIs7hdGOEyDymfXOg6T/x53sTYqtN3Mo1w0j92OXvVfLUPMIBRHV4Z06dw==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer">
    </script>

    <!-- Socket.IO -->
    <script 
        src="https://cdn.socket.io/4.8.3/socket.io.min.js"
        integrity="sha384-kzavj5fiMwLKzzD1f8S7TeoVIEi7uKHvbTA3ueZkrzYq75pNQUiUi6Dy98Q3fxb0"
        crossorigin="anonymous">
    </script>

    <!-- Your JS -->
    <script src="/js/script.js"></script>

</body>
</html>